<div class="item-modal">
    <div class="modal-header">
        <h4 class="modal-title">New Item</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body item-modal-body">

            
            <label for="name">Name :</label>
            <input  type="text"  id="name" [(ngModel)] ="itemName" placeholder="Name of the item">
            <br>

            <label for="totalQuantity">Quantity :</label>
            <input class="number-input" type="number" id="totalQuantity" [(ngModel)] = "itemTotalQuanity" placeholder="Quantity"> 
            <br>

            <label for="price">Unit Price :</label>
            <input class="number-input" type="number" id="price" [(ngModel)] = "itemPrice" placeholder="Unit Price">
            <br>

            <label for="itemType">Item Type :</label>
            <select id="itemType" [(ngModel)] = "itemType" >
                <option value="INGREDIENT">Ingredient</option>
                <option value="ALCOHOLIC_DRINK">Alcoholic Drink</option>
                <option value="NON_ALCOHOLIC_DRINK">Non-Alcoholic Dring</option>
            </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="saveNewItem()">Save</button>
    </div>
</div>