h1{
    color: wheat;
    border-bottom: dotted;
    border-top: dotted;
    border-color: wheat;
    color: wheat;
    
}

.storage-body{
    background-color: #2e011a;
    border-radius: 5%;
    padding: 5%;
    margin-top: 5%;
}

th{
    width: 20%;
    color: wheat;
}

td{
    color: wheat;
}

.btn{
color: #2e011a;
   font-size: 100%;
   width: 5rem;
}

.btn-add{
    color: wheat;
     background-color: #2e011a;
}


input{
    color: wheat;
    background-color: transparent;
    border-radius: 10%;
    border-color: wheat;
    margin: 2%
}
.number-input{
    width: 4rem;
    border-radius: 15%;
}

select{
    color: wheat;
    background-color: transparent;
    border-radius: 10%;
    border-color: wheat;
    margin: 2%
}
option{
    color: wheat;
    background-color: #2e011a;
}