<div class="recipe-modal">
    <div class="modal-header">
        <div *ngIf="!isNew; else titleInput">
            <h4>{{recipe!.name}}</h4>
        </div>
        <ng-template #titleInput class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" [(ngModel)] = "recipe!.name" placeholder="Recipe Name...." >
        </ng-template>

        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body recipe-modal-body">
        <p>Price : ${{recipe!.price}}</p>
        <p>Available: {{recipe!.isAvailable}}</p>
        <p>Ingredients:</p>
        <table class="table table-striped table-dark col-lg-12 table-responsive-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Needed Quantity</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th><button class="btn btn-add" (click)="openIngredientModal()">Add Ingredient</button></th>
                </tr>
            </thead>
            <tr *ngFor="let ingredient of recipe!.ingredients" id="{{ingredient.id}}">
            <ng-container *ngIf="!ingredient.isEdit; else editingLine">
                <td>{{ingredient.itemName}}</td>
                <td>{{ingredient.quantityNeeded}}</td>
                <td>{{ingredient.isAvailable}}</td>
                <td>${{ingredient.price}}</td>
                <td>
                    <button *ngIf="!ingredient.isNew" class="btn btn-warning" (click)="editLine(ingredient)"><b>Edit</b></button>
                    <button class="btn btn-danger" (click)="removeIngredientFromRecipe(ingredient)"><b>Delete</b></button>
                </td>
            </ng-container>
            <ng-template #editingLine>
                <td>{{ingredient.itemName}}</td>
                <td>
                    <input type="number" [(ngModel)] ="ingredient.quantityNeeded" style="width: 4rem;">
                </td>
                <td>{{ingredient.isAvailable}}</td>
                <td>${{ingredient.price}}</td>
                <td>
                    <button class="btn btn-add" (click)="saveIngredientChange(ingredient)">Save</button>
                </td>
            </ng-template>
            </tr>
        </table>
    </div>
    <div class="modal-footer">

        <button *ngIf="isNew || isEdit" type="button" class="btn btn-add" (click)="saveRecepie()">Save</button>
    </div>
</div>